USE [DB_A0966E_iica]
GO
/****** Object:  StoredProcedure [dbo].[DT_SP_GENERA_REPORTE_PERMISOS]    Script Date: 02/06/2019 03:58:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Christian Peña Romero>
-- Description:	<Genera el reporte de las solicitudes de permisos>
-- =============================================
ALTER PROCEDURE [dbo].[DT_SP_GENERA_REPORTE_PERMISOS]
	-- Add the parameters for the stored procedure here
	@Abreviatura_Proyecto VARCHAR(50),
	@De_Cve_Departamento_Empleado VARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE
		@SC_CVE_SUCURSAL VARCHAR(50)

	IF @Abreviatura_Proyecto LIKE 'TODOS'
	BEGIN
		SET @SC_CVE_SUCURSAL='0000'
	END
	ELSE
	BEGIN
		SELECT
			@SC_CVE_SUCURSAL=Sc_Cve_Sucursal
		FROM Sucursal
		WHERE Sc_UserDef_2=@Abreviatura_Proyecto
	END

	IF @SC_CVE_SUCURSAL LIKE '0000'
	BEGIN
		SELECT
			B.Em_Nombre,
			B.Em_Apellido_Paterno,
			B.Em_Apellido_Materno,
			C.Sc_Descripcion Proyecto,
			COALESCE(D.De_Descripcion,'SIN DEPARTAMENTO') Departamento,
			B.Fecha_Alta,
			A.Fecha_Permiso,
			A.Motivo_Permiso,
			COALESCE(A.Motivo_Rechazo,'') Motivo_Rechazo,
			E.Descripcion_Status_Solicitud,
			a.path_formato_autorizacion
		FROM DT_TBL_PERMISO A
		INNER JOIN EMPLEADO B ON A.Em_Cve_Empleado=B.Em_Cve_Empleado
		LEFT JOIN SUCURSAL C ON B.SC_CVE_SUCURSAL=C.SC_CVE_SUCURSAL
		LEFT JOIN Departamento_Empleado D ON B.DE_CVE_DEPARTAMENTO_EMPLEADO=D.De_Cve_Departamento_Empleado
		INNER JOIN DT_CAT_STATUS_SOLICITUD E ON A.Id_Status_Solicitud=E.Id_Status_Solicitud
		ORDER BY B.Em_Apellido_Paterno
	END

	ELSE
	BEGIN
		IF @De_Cve_Departamento_Empleado NOT LIKE '0000'
		BEGIN
			SELECT
				B.Em_Nombre,
				B.Em_Apellido_Paterno,
				B.Em_Apellido_Materno,
				C.Sc_Descripcion Proyecto,
				COALESCE(D.De_Descripcion,'SIN DEPARTAMENTO') Departamento,
				B.Fecha_Alta,
				A.Fecha_Permiso,
				A.Motivo_Permiso,
				COALESCE(A.Motivo_Rechazo,'') Motivo_Rechazo,
				E.Descripcion_Status_Solicitud,
				a.path_formato_autorizacion
			FROM DT_TBL_PERMISO A
			INNER JOIN EMPLEADO B ON A.Em_Cve_Empleado=B.Em_Cve_Empleado
			LEFT JOIN SUCURSAL C ON B.SC_CVE_SUCURSAL=C.SC_CVE_SUCURSAL
			LEFT JOIN Departamento_Empleado D ON B.DE_CVE_DEPARTAMENTO_EMPLEADO=D.De_Cve_Departamento_Empleado
			INNER JOIN DT_CAT_STATUS_SOLICITUD E ON A.Id_Status_Solicitud=E.Id_Status_Solicitud
			WHERE D.De_Cve_Departamento_Empleado=@De_Cve_Departamento_Empleado
			ORDER BY B.Em_Apellido_Paterno
		END
		ELSE
		BEGIN
			SELECT
				B.Em_Nombre,
				B.Em_Apellido_Paterno,
				B.Em_Apellido_Materno,
				C.Sc_Descripcion Proyecto,
				COALESCE(D.De_Descripcion,'SIN DEPARTAMENTO') Departamento,
				B.Fecha_Alta,
				A.Fecha_Permiso,
				A.Motivo_Permiso,
				COALESCE(A.Motivo_Rechazo,'') Motivo_Rechazo,
				E.Descripcion_Status_Solicitud,
				a.path_formato_autorizacion
			FROM DT_TBL_PERMISO A
			INNER JOIN EMPLEADO B ON A.Em_Cve_Empleado=B.Em_Cve_Empleado
			LEFT JOIN SUCURSAL C ON B.SC_CVE_SUCURSAL=C.SC_CVE_SUCURSAL
			LEFT JOIN Departamento_Empleado D ON B.DE_CVE_DEPARTAMENTO_EMPLEADO=D.De_Cve_Departamento_Empleado
			INNER JOIN DT_CAT_STATUS_SOLICITUD E ON A.Id_Status_Solicitud=E.Id_Status_Solicitud
			WHERE c.SC_CVE_SUCURSAL=@SC_CVE_SUCURSAL
			ORDER BY B.Em_Apellido_Paterno
		END

	END
	
END
