@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron" style="text-align: center">
    <h1>BIENVENIDO</h1>
    <p class="lead">IICA Permisos y Vacaciones.</p>
    <img style="height: 100px; " src="~/Content/assets/img/logo_iica.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Permisos</h2>
        <p>
            El módulo de permisos te permitirá realizar solicitudes para gestionar tus permisos que llegases a necesitar durante tu estadía en IICA.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("NuevaSolicitud","Permiso")">Generar solicitud &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vaciones</h2>
        <p>Es uno módulo más que te facilitara dar de alta solicitudes de tus vacaciones y permitir así programarlas en la fecha más indicada a tus necesidades.</p>
        <p><a class="btn btn-default" href="@Url.Action("NuevaSolicitud","Vacacion")">Generar solicitud &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Incapacidades</h2>
        <p>Para aquellas ocasiones que necesites gestionar tus incapacidades, lo podrás realizar de la manera más sencilla desde el módulo de Incapacidades.</p>
        <p><a class="btn btn-default" href="@Url.Action("NuevaSolicitud","Incapacidad")">Generar solicitud &raquo;</a></p>
    </div>
</div>