@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron" style="text-align: center">
    <h1>BIENVENIDO</h1>
    <p class="lead">IICA Permisos y Vacaciones.</p>
    <img style="height: 100px; " src="~/Content/assets/img/logo_iica.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Permisos</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
        <p><a class="btn btn-default" href="@Url.Action("NuevaSolicitud","Permiso")">Generar solicitud &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vaciones</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <p><a class="btn btn-default" href="@Url.Action("NuevaSolicitud","Vacacion")">Generar solicitud &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Incapacidades</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <p><a class="btn btn-default" href="@Url.Action("NuevaSolicitud","Incapacidad")">Generar solicitud &raquo;</a></p>
    </div>
</div>