@{
    ViewBag.Title = "Inicio - Admin Personal";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    <script>
        nodoMenu = "nodo-dashboard";
        submenu = "";
    </script>
}

@model IICA.Models.Entidades.Usuario

<div class="jumbotron" style="text-align: center">
    <h1>BIENVENIDO</h1>
    <p class="lead">IICA Administrador de Personal.</p>
    <img style="height: 100px; " src="~/Content/assets/img/logo_iica.png" />
</div>
