
@{
    ViewBag.Title = "RolesUsuario";
    Layout = "~/Views/Shared/_LayoutRolesUsuario.cshtml";
    <script>
        nodoMenu = "nodo-dashboard";
        submenu = "";
    </script>
}

@model IICA.Models.Entidades.Usuario

<div class="jumbotron" style="text-align: center">
    <h1>BIENVENIDO</h1>
    <p class="lead">IICA Perfiles.</p>
    <img style="height: 100px; " src="~/Content/assets/img/logo_iica.png" />
</div>
