
@{
    ViewBag.Title = "Notificación";
    Layout = "~/Views/Shared/_LayoutViaticos.cshtml";
}

<ul class="breadcrumb">
    <li>
        <p>
            VIATICOS
        </p><p>
        </p>
    </li>
    <li><a href="#" class="active">Registro de Solicitud</a></li>
</ul>

<div class="page-title">
    <i class="icon-custom-alert"></i>
    <h3>Notifica<span class="semi-bold">ción</span></h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="grid simple vertical green">
                    <div class="grid-title no-border">
                        <h4>No es posible  <span class="semi-bold">generar una solicitud</span></h4>
                    </div>
                    <div class="grid-body no-border">
                        <blockquote class="margin-top-20">
                            <p>El empleado excede el número de solicitudes permitidas.</p>
                            <small>Intente despues de concluir sus solicitudes aperturadas. </small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

